<div class="grant-container">
  <div class="row">
    <div class="col">
      <div class="auth-from">
        <div class="title auth-title">
          <h1>{{grant.name | titlecase}} Grant Profile</h1>
        </div>

        <mat-list>
          <span class="details-title">Name:</span>
          <p>{{grant.name}}</p>
          <mat-divider></mat-divider>
          <span class="details-title">Status:</span>
          <p>{{grant.status}}</p>
          <mat-divider></mat-divider>
          <span class="details-title">Grantor:</span>
          <p>{{grant.grantor}}</p>
          <mat-divider></mat-divider>
          <span class="details-title">Location:</span>
          <p>{{grant.location}}</p>
          <mat-divider></mat-divider>
          <span class="details-title">Description:</span>
          <p>{{grant.description}}</p>
          <mat-divider></mat-divider>
          <span class="details-title">Amount:</span>
          <p>{{grant.amount | currency}}</p>
        </mat-list>

        <button style="margin-right: 20px;" mat-button class="grant-btn update-btn" type="submit"
          routerLink="/grants/manage/{{grant.id}}">Update</button>
        <button mat-button class="grant-btn delete-btn" (click)="openDialog()">Delete</button>

      </div>
    </div>
    <div class="col">
      <div class="image-container">
        <img src="assets/images/fh-new-grant.jpeg" alt="">
      </div>
    </div>
  </div>

</div>
