.auth-from {
  padding-top: 0px;
}
.grant-form {
  padding-top: 0px;
}

.update-btn {
  background-color: #f68b1f;
}

.delete-btn {
  background-color: red;
}

.details-title {
  font-size: 0.9rem;
  color: #aebc37;
}
