<div class="grant-container">
  <div class="row">
    <div class="col">
      <div class="auth-from">
        <mat-spinner *ngIf="!grant.name" [diameter]="40"></mat-spinner>
        <div *ngIf="grant.name">
          <div class="title auth-title">
            <h1>Update {{grant.name | titlecase}} Grant Profile</h1>
          </div>
          <form *ngIf="grant.name" #updateForm="ngForm" class="grant-form">
            <mat-form-field class="grant-full-width">
              <input *ngIf="grant.name" matInput placeholder="Name" value="" type="text" autofocus id="name"
                [(ngModel)]="grant.name" name="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select *ngIf="grant.status" type="text" id="status" [(ngModel)]="grant.status" name="status">
                <mat-option matInput *ngFor="let status of possible_status" [(value)]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="grant-full-width">
              <input *ngIf="grant.grantor" matInput placeholder="Grantor" value="" type="text" id="grantor"
                [(ngModel)]="grant.grantor" name="grantor">
            </mat-form-field>
            <mat-form-field class="grant-full-width">
              <input *ngIf="grant.location" matInput placeholder="Location" value="" type="text" id="location"
                [(ngModel)]="grant.location" name="location">
            </mat-form-field>
            <mat-form-field class="grant-full-width">
              <textarea *ngIf="grant.description" name="" id="" cols="5" rows="10" matInput placeholder="Description"
                value="" type="text" id="description" [(ngModel)]="grant.description" name="description"></textarea>
            </mat-form-field>
            <mat-form-field class="grant-full-width">
              <input *ngIf="grant.amount" matInput placeholder="Amount ($)" value="" type="number" id="amount"
                [(ngModel)]="grant.amount" name="amount">
            </mat-form-field>

            <button style="margin-right: 20px;" mat-button class="grant-btn update-btn" type="submit"
              routerLink="/grants/{{grant.id}}">cancel</button>
            <button mat-button class="grant-btn" (click)="updateGrant()">Save</button>
          </form>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="image-container">
        <img src="assets/images/fh-new-grant.jpeg" alt="">
      </div>
    </div>
  </div>

</div>
