.auth-from {
  padding-top: 0px;
}
.grant-form {
  padding-top: 0px;
}

.update-btn {
  background-color: #f68b1f;
}

.details-title {
  font-size: 0.9rem;
  color: #aebc37;
}

.btn-spinner {
  margin-left: 240px !important;
}
