<div class="grant-container">
  <div class="row">
    <div class="col">
      <div class="auth-from">
        <div class="title auth-title">
          <h1>Create your Account</h1>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="grant-form">
          <mat-form-field class="grant-full-width">
            <input matInput placeholder="Name" value="" type="text" id="name" formControlName="name">
          </mat-form-field>

          <mat-form-field class="grant-full-width">
            <input matInput placeholder="Email" value="" type="email" id="email" formControlName="email">
          </mat-form-field>

          <mat-form-field class="grant-full-width">
            <input matInput autocomplete="on" placeholder="Password" value="" type="password" id="password"
              formControlName="password">
          </mat-form-field>

          <mat-form-field class="grant-full-width">
            <input matInput autocomplete="on" placeholder="Confirm Password" value="" type="password"
              id="confirmPassword" formControlName="confirmPassword">
          </mat-form-field>

          <button mat-button class="grant-btn" [disabled]="!registerForm.valid" type="submit">Register</button>
        </form>

        <br>
        <br>
        <div class="grant-auth-p">
          <p>Have an account?<a [routerLink]="['/login']" routerLinkActive="router-link-active"> Log in </a></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image-container">
        <img src="assets/images/fh-register.jpeg" alt="">
      </div>
    </div>
  </div>
</div>
