<div class="container">

  <div class="title">
    <h1>List of Grants</h1>
  </div>

  <div class="row">
    <div class="col">
      <mat-list>
        <mat-list-item>Middle East refugee Crisis</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Middle East refugee Crisis</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Middle East refugee Crisis</mat-list-item>
      </mat-list>
    </div>
    <div class="col">
      <mat-list>
        <mat-list-item>Middle East refugee Crisis</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Middle East refugee Crisis</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Middle East refugee Crisis</mat-list-item>
      </mat-list>
    </div>
  </div>



  <router-outlet></router-outlet>
</div>
