/* You can add global styles to this file, and also import other style files */

$a-tags: "a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

#{$a-tags} {
  color: #f68b1f;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: #aebc37 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grant-container {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 50px;
}

.auth-title h1 {
  font-size: 1.5rem;
}
